<h1>Editing info personal</h1>

<%= render "form", info_personal: @info_personal %>

<br>

<div>
  <%= link_to "Show this info personal", @info_personal %> |
  <%= link_to "Back to info personals", info_personals_path %>
</div>
