<p style="color: green"><%= notice %></p>

<h1>Info personals</h1>

<div id="info_personals">
  <% @info_personals.each do |info_personal| %>
    <%= render info_personal %>
    <p>
      <%= link_to "Show this info personal", info_personal %>
    </p>
  <% end %>
</div>

<%= link_to "New info personal", new_info_personal_path %>
